@import "tailwindcss";
@plugin "daisyui";

:root {
  color-scheme: dark;
  --background: #061e29;
  --foreground: #f3f4f4;
  --color-base-100: #061e29;
  --color-base-200: #1d546d;
  --color-base-300: #5f9598;
  --color-base-content: #f3f4f4;
  --color-primary: #5f9598;
  --color-primary-content: #061e29;
  --color-secondary: #1d546d;
  --color-secondary-content: #f3f4f4;
  --color-neutral: #061e29;
  --color-neutral-content: #f3f4f4;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-poppins);
  --font-mono: var(--font-geist-mono);
}

html {
  background: var(--background);
  color: var(--foreground);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-poppins), sans-serif;
}
